:root {
    --background: black;
    --primary-text-color: fuchsia;
    --secondary-text-color: white;
}

body {
    background: var(--background);
}

header {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--primary-text-color);
}

p {
    color: var(--secondary-text-color);
    text-align: center;
    padding-left: 210px;
    padding-right: 210px;
}